<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defautHref="conta"></ion-back-button>
    </ion-buttons>
    <ion-title>Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" formControlName="descricao" 
        (ionBlur)="verificarDescricao()"></ion-input>
      <div class="erroValidacao">
        <p *ngIf="descricaoUnica">Descrição já existente</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="text" formControlName="valor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vencimento</ion-label>
      <ion-input type="text" formControlName="data" [brmasker]="{mask: '99/99/9999'}"></ion-input>      
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de Conta</ion-label>
      <ion-select *ngFor="conta conta of contas" formControlName="tipo">
        <ion-select-option>{{conta.tipo}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Situação</ion-label>
      <ion-select formControlName="situacao">
        <ion-select-option value="true">Quitada</ion-select-option>
        <ion-select-option value="false">Em aberta</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>
  </form>
</ion-content>
